h1{
	color: red;
	border-style: double;
	border-color: red;
	border-width: 20px;
	background: yellow;
}

h2{
	color: white;
	border-style: double;
	border-color: black;
	background: gray;
	border-width: 15px;
}

.description{
	font-size: 19px;
}

li{
	font-size: 21px;
}

a{
	font-size: 18px;
	color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

a:hover {
  color: green;
}
